/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.mermaid svg {
    width: 100%;
    height: auto;
}

.text-box {
    width: 350px;
    height: 400px;
}