.smart-memo-text-box {
    width: 350px;
    height: 400px;
}


body .modal-container .modal.smart-memo-paused {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width if needed */
    max-width: 400px; /* Set a max width */
    height: 80%; /* Adjust height if needed */
    max-height: 600px; /* Set a max height */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    animation: none;
    background-size: 200% 200% !important;
    background: linear-gradient(270deg, var(--background-primary), var(--background-secondary));
    /* background: linear-gradient(270deg, #D08770, #babc8d, #B48EAD, #D08770); */
}

body .modal-container .modal.smart-memo-recording {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width if needed */
    max-width: 400px; /* Set a max width */
    height: 80%; /* Adjust height if needed */
    max-height: 600px; /* Set a max height */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--background-secondary);
    background: linear-gradient(270deg, var(--background-primary), var(--background-secondary));
    background-size: 200% 200% !important;

    /* background-size: 200% 200%; */
    animation: gradientAnimation 5s ease infinite;
}

.smart-memo-audio-record-modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: none; /* Make modal content transparent */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.smart-memo-modal-button {
    background-color:var(--interactive-accent) !important;
    color: var(--text-on-accent);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    height: 40px;
    border-radius: 5px !important;
}

.smart-memo-modal-button:hover {
    background-color: rgba(68, 68, 68, 0.8);
    /* transform: translateY(-2px); */
}

.smart-memo-modal-button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    gap: 10px; /* Consistent spacing between buttons */
}

.smart-memo-full-width-button {
    width: 100%;
}

.smart-memo-control-group-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Consistent spacing between elements */
}

.smart-memo-header-timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.smart-memo-header-timer-container h2 {
    font-size: 24px;
    margin-bottom: 5px; /* Reduce the bottom margin */
    /* color: var(--text-normal); */
    color: var(--text-on-accent);

}

.smart-memo-transcribe-button {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.smart-memo-flex {
    flex: auto;
}

.smart-memo-timer {
    /* color: var(--text-normal); */
    color: var(--text-on-accent);

    font-size: 20px; /* Adjust the font size if needed */
    margin-bottom: 10px; /* Adjust the spacing as needed */
}

.smart-memo-red-dot-container {
    height: 24px; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.smart-memo-red-dot {
    width: 25px;
    height: 25px;
    background-color: #e03a3a;
    border-radius: 50%;
    border: 3px solid #ffffff; /* Increased border for better visibility */
    visibility: visible; /* Default to visible */
}

/* Define the animation in a separate class */
.smart-memo-pulse-animation {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.smart-memo-reset-button {
    width: 100%;
    margin-top: 20px; /* Add space between the middle buttons and the reset button */
    height: 40px; /* Ensure it has the same height as other buttons */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.smart-memo-paused {
    animation-play-state: paused;
}

/* Add this CSS to your existing stylesheet */
body .modal-container .modal .smart-memo-modal-button:focus,
body .modal-container .modal .smart-memo-modal-button:focus-visible {
    outline: none;
    box-shadow: none;
}

/* uncomment later when updating to new animations and modal container
/* .smart-memo-wave-animation-active {
    animation: waveAnimation 2s linear infinite;
} */


/* @media (max-width: 600px) {
    body .modal-container .modal.smart-memo-paused, 
    body .modal-container .modal.smart-memo-recording {
        background-size: 1200% 1200% !important;
        background: linear-gradient(270deg, #e67e80, #e69875, #dbbc7f, #a7c080, #83c092, #7fbbb3, #d3c6aa);
    }

    body .modal-container .modal.smart-memo-recording {
        animation: gradientAnimation 15s ease infinite;
    }
} */


/* .wave-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed 
    overflow: hidden; /* Hide overflow to create seamless effect 
    width: 100%; /* Full width of the container 
    height: 100px; /* Height of the wave 
/* } */

/* .wave-animation {
    width: 200%; /* Full width of the container 
} */

/* @keyframes waveAnimation {
    0% {
        d: path("M 0,50 Q 20,30 40,50 T 80,50 T 120,50 T 160,50 T 200,50");
    }
    50% {
        d: path("M 0,50 Q 20,70 40,50 T 80,50 T 120,50 T 160,50 T 200,50");
    }
    100% {
        d: path("M 0,50 Q 20,30 40,50 T 80,50 T 120,50 T 160,50 T 200,50");
    }
}

.wave-animation-active path {
    animation: waveAnimation 2s linear infinite;
}

.straight-line path {
    animation: none;
} */
